.git
.gitignore
.github
.gitattributes
log/*
tmp/*
test/*
vendor/bundle
node_modules
.env
.env.local
.env.*.local
coverage
.ruby-version
.ruby-gemset
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode
.idea
*.log
db/*.sqlite3
db/*.sqlite3-journal
public/system
public/packs
public/packs-test
public/assets
storage/*
tmp/cache/*
.byebug_history
.bundle
.env
.env.production
docker-compose.yml
Dockerfile*
.dockerignore
