<h1>Repository List </h1>
<% @repositories.each do |repo| %>
  Name: <%= repo.name %>
  Description: <%= repo.description %>
<%end%>

<%= link_to 'New Repository', new_repository_path, class: 'btn btn-secondary'%>