<section class='repoList'>
  <h4>Repository List </h4>
  <% @repositories.each do |repo| %>
    <li>
      <ul><%= link_to repo.name, repository_path(repo.id)%></ul>
    </li>
  <%end%>
  </br>

  <%= link_to 'New Repository', new_repository_path, class: 'btn btn-info'%>
<section>